<p>Hola <%= @resource.email %>!</p>

<p>Si usted ha solicitado cambiar su clave puede dirigirse a este enlace:</p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no ha solicitado el cambio de clave, ignore este correo.</p>
<p>Su clave no cambiará hasta que accesada al enlace anterior y cree una clave nueva.</p>
